.root {
    -darkgrey: #383838;
    -yellow: #f2d16a;
    -lightgrey: #e9e9e9;
    -lightblue: #75c7fb;
    -blue: #0048cd;
}

#openButton, #helpMessage {
    -fx-text-fill: -darkgrey;
}

#openButton {
    /*-fx-background-color: -lightgrey;*/
}

#openButton:hover {
    /*-fx-background-color: -lightblue;*/
}

#openButton:armed {
    -fx-background-color: -lightblue;
}

#helpMessageContainer {
    -fx-background-color: -lightgrey;
}
