.root {
    -darkgrey: #383838;
    -yellow: #f2d16a;
    -lightgrey: #e9e9e9;
    -lightblue: #75c7fb;
    -blue: #0048cd;
    -darkblue: #00379c;
}

.background {
    -fx-background-color: derive(-lightgrey, 100%);
    background-color: white; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-text-fill: -blue;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-text-fill: -blue;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-text-fill: -blue;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica", Arial, sans-serif;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
    -fx-background-color: -lightgrey;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: -lightgrey;
    -fx-control-inner-background: -lightgrey;
    -fx-background-color: -lightgrey;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-text-fill: -blue;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(-lightgrey, 20%);
    -fx-border-color: transparent transparent transparent -lightblue;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(-lightgrey, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(-lightgrey, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: derive(-lightgrey, 20%);
}

.list-cell:filled:even {
    -fx-background-color: white;
}

.list-cell:filled:odd {
    -fx-background-color: derive(-lightgrey, 50%);
}

.list-cell:filled:selected {
    -fx-background-color:  derive(-lightblue, 50%);
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: -lightblue;
}

.list-cell .label {
    -fx-text-fill: -blue;
}

.cell_big_label {
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.headline {
    -fx-font-family: "Helvetica Bold", Arial, sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: -blue;
}

.primary_text {
    -fx-font-family: "Helvetica Bold", Arial, sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: -blue;
}

.secondary_text {
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: -blue;
}

.stack-pane {
     -fx-background-color: derive(-lightgrey, 20%);
}

.pane-with-border {
     -fx-background-color: derive(-lightgrey, 20%);
     -fx-border-color: derive(-lightgrey, 10%);
     -fx-border-top-width: 1px;
}

.info-box {
     -fx-background-color: derive(-lightgrey, 100%);
     -fx-border-color: derive(-lightgrey, 10%);
     -fx-border-top-width: 1px;
     -fx-border-insets: 4px;
     -fx-padding: 5px;
     -fx-border-radius: 5px;
}

.status-bar {
    -fx-background-color: derive(-lightgrey, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-font-size: 13pt;
    -fx-text-fill: -blue;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-text-fill: -blue;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(-lightgrey, 30%);
    -fx-border-color: derive(-lightgrey, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -blue;
}

.grid-pane {
    -fx-background-color: derive(-lightgrey, 30%);
    -fx-border-color: derive(-lightgrey, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(-lightgrey, 30%);
}

.menu-bar {
    -fx-background-color: -blue;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-text-fill: white;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: -darkblue;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: -blue;
    -fx-padding: 0px;
}

.menu-item {
    -fx-background-color: -blue;
}

.menu-item:hover {
    -fx-background-color: -darkblue;
}

.menu-item .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-text-fill: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -lightgrey;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: -blue;
  -fx-text-fill: -lightgrey;
}

.button:focused {
    -fx-border-color: -blue, -blue;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -lightgrey;
    -fx-text-fill: -blue;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -blue;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: -lightgrey;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: -lightgrey;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -blue;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(-lightgrey, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -blue;
    -fx-text-fill: -blue;
}

.scroll-bar {
    -fx-background-color: derive(-darkgrey, 100%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(-darkgrey, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-border-width: 0;
    -fx-border-radius: 5px;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent -darkgrey transparent -darkgrey;
    -fx-background-insets: 0;
    -fx-border-color: -darkgrey -darkgrey -darkgrey -darkgrey;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Helvetica", Arial, sans-serif;
    -fx-font-size: 13pt;
    -fx-text-fill: -blue;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: black;
    -fx-background-color: -yellow;
    -fx-padding: 2 6 2 6;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-size: 12;
}

